$white: #fff;
$light-grey: #ddd;
$light-blue: #3A66A7;
$blue: #0b4cb7;
$btn--secondary-bg: #F0F0F0;
$btn--secondary-color: #707070;
$btn-min-width: 170px;
$btn-min-heigth: 50px;
.highlight {
    background-color: $light-grey
}

.btn {
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    font-weight: normal;
    line-height: 1.15;
    text-align: center;
    vertical-align: middle;
    min-width: $btn-min-width;
    min-height: $btn-min-heigth;
    font-size: 1.1em;
    background: $white;
    color: $light-blue;
    &:hover {
        text-decoration: none;
    }
    &#{&}--primary {
        background: $blue;
        color: $white;
    }
    &#{&}--secondary {
        background: $btn--secondary-bg;
        color: $btn--secondary-color;
    }
    &#{&}--large {
        width: ($btn-min-width + 80px);
        height: ($btn-min-heigth + 7.5px);
    }
    &#{&}--extra-large {
        width: ($btn-min-width + 180px);
        height: ($btn-min-heigth + 15px);
        font-size: 1.3em;
    }
}

#list {
    .list__group {
        margin: 10px;
        list-style: none;
        .list__item {
            padding: 5px;
        }
        &.list--horizontal {
            .list__item {
                display: inline;
            }
        }
    }
}