.highlight {
    background-color: #ddd;
}

button.btn {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-weight: normal;
  line-height: 1.15;
  text-align: center;
  vertical-align: middle;
  border-radius: 0.15em;
  padding: 13px 63px 14px 63px;
  color: rgb(48, 112, 138);
  border: gray solid 1px;
  background: white;
  font-size: 18px;
}
button.btn--primary {
  	background: #0654BA;
  	color: #fff;
  	
  }
  
  button.btn--secondary {
  	background: #F7F6F5;
  	color: #5b5757;
  }
  
  button.btn--large {
    padding: 21px 104px;
    font-size: 20px;
  }
  
  button.btn--extra-large {
  	padding: 20px 141px;
  	font-size: 22px;
  }